<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            background: linear-gradient(135deg, #80c8f9, #9b59b6);
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            text-align: center;
        }

        h1 {
            color: #333;
            margin: 20px 0;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 900px;
            margin: 20px auto;
            padding: 20px;
            gap: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .image-container img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
        }

        .text-container {
            text-align: left;
            flex: 1;
        }

        .text-container h1 {
            font-size: 1.8rem;
            margin-bottom: 15px;
            color: #222;
        }

        .text-container p {
            font-size: 1rem;
            margin-bottom: 10px;
            color: #555;
        }

        .text-container p:last-child {
            margin-bottom: 0;
        }
    </style>
</head>
<%- include('navbar') %>
<% if (msg) { %>
<h1><%= msg %></h1>
<% } %>
<body>
    <center>
        <a href="/admin/addCourse" class="btn btn-primary">Add new course</a>
    </center>
    <% data.forEach(data => { %>
    <div class="container">
        <div class="image-container">
            <img src="https://static.scientificamerican.com/sciam/cache/file/1DDFE633-2B85-468D-B28D05ADAE7D1AD8_source.jpg?w=1200" alt="Image">
        </div>
        <div class="text-container">
            <h1><%= data.name %></h1>
            <p>Duration: <%= data.duration %></p>
            <p>Material: <%= data.material %></p>
            <a class="btn" href="/admin/editCourse/<%= data.id %>"> Edit </a>
            <a class="btn" href="/delete/<%= data.id %>/post"> Delete </a>
        </div>
    </div>
    <% }); %>
    <%- include('_script') %>
</body>

</html>